@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 67px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 4em;
    font-weight:900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg,
            rgb(255, 255, 255) 60%,
            rgba(255, 255, 255, 0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 1.4em;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
    font-weight: 600;
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 25px;
    font-weight: 600;
    padding: 13px 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.contactBtn:hover {
    background-color: var(--color-btn-hover);
}
.heroImg {
    width: 25%;
    z-index: 1;
    border-radius: 50%;
    animation: breatheAndTilt 4.5s ease-in-out infinite;
    transition: transform 0.25s ease-in-out;
  }
  

@keyframes breatheAndTilt {
    0% {
      transform: scale(1) rotate(0deg);
    }
    25% {
      transform: scale(1.015) rotate(1deg);
    }
    50% {
      transform: scale(1.03) rotate(0deg);
    }
    75% {
      transform: scale(1.015) rotate(-1deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }
  

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-width: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-width: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }

    .content {
        align-items: center;
    }
}