@import "../../vars.css";

.navbar {
  position: relative;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.8rem;
  z-index: 2;
  margin: 0 10%;
  font-size: 1.6em;
  font-weight: 600;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menuBtn {
  display: none;
  width: 30px;
}
.menuItems {
  display: flex;
  gap: 2em;
  list-style: none;
}

.menuItems a {
  color: whitesmoke;
  text-decoration: none;
}

.menuItems a:hover {
  color: rgb(22, 91, 218);
}

label {
  text-align: center;
  width: 8%;

  height: 5vh;

  position: relative;

  display: block;

  background: var(--bg-color-label);

  border-radius: 100px;

  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

label:after {
  content: "";

  width: 37%;
  height: 95%;

  position: absolute;

  left:  var( --label-after-el-left);
  top: 5%;
  background: var(--bg-color-after-el);

  border-radius: 50%;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

 label:after {
  left: var( --label-after-el-left);
  /* transform: translateX(-100%); */
  transform: translateX(var(--translate-label-after-el));
  background: var(--bg-color-after-el);
}

label svg {
  position: absolute;
  width: 40%;
  /* top: 1%; */
  z-index: 100;
}
label svg.sun {
  left: 0px;
  fill: var(--bg-sun-color);
  transition: 0.3s;
}
label svg.moon {
  right: 0px;
  fill:  var(--bg-moon-color);
  transition: 0.3s;
}

@media screen and (min-height: 950px) {
  label{
    width: 12%;
    height: 4vh;
  }
  label:after, label svg {
    top:25%;
    width: 30%;
    height: 50%;
  }
}

/* 
label {
  text-align: center;
  width: 8%;

  height: 5vh;

  position: relative;

  display: block;

  background: #ebebeb;

  border-radius: 100px;

  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

label:after {
  content: "";

  width: 37%;
  height: 95%;

  position: absolute;

  left: 3px;
  top: 5%;
  background: #ffcc89;

  border-radius: 50%;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #3b3b3b;
}
input:checked + label:after {
  left: 95%;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

label svg {
  position: absolute;
  width: 40%;
  z-index: 100;
}
label svg.sun {
  left: 0px;
  fill: #fff;
  transition: 0.3s;
}
label svg.moon {
  right: 0px;
  fill: #7e7e7e;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill: #7e7e7e;
}

input:checked + label svg.moon {
  fill: #fff;
} 
@media screen and (min-height: 950px) {
  label{
    width: 12%;
    height: 4vh;
  }
  label:after, label svg {
    top:25%;
    width: 30%;
    height: 50%;
  }
} */

@media screen and (max-width: 550px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2em;
  }
  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }
  .menuBtn {
    display: block;
    cursor: pointer;
  }
  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }
  .menuItems a:hover {
    color: rgb(183, 194, 247);
  }
  .menuOpen {
    display: flex;
    z-index: 1;
  }
  label {
    width: 20vw;
    height: 5vh;
  }
  label:after {
    top: 15%;
    width: 35%;
    height: 70%;
  }
  label svg {
    width: 35%;
    top: 15%;
  }
}
