@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 67px;
  margin-left: 10%;
  margin-right: 10%;
  
}

.title {
  font-size: 1.6em;
  color: var(--color-text);
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.content {
  
  display: flex;
  gap:4em;
  justify-content:flex-start;
  align-items: flex-start;
  margin-top: 14px;
  font-size: 0.9em;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


@keyframes floating {
  0% {
      transform: translate(0, 0px);
  }
  33% {
    transform: translate(5px, 0);
  }

  66% {
      transform: translate( -5px, 0);
  }
  
  100% {
      transform: translate(0, 0px);
  }
}

.skillImageContainer {
  animation-name: floating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  transition:  width .4s, height .4s;
}

.skillImageContainer:hover{
  width:85px;
  height: 85px;
}

.skillImageContainer img {
  width: 60px;
}

.skill p {
  font-size: 1.3em;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 90%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, var(--color-gradient-first) 50%, var(--color-gradient-second));
  border-radius: 10px;
  box-shadow: 0 8px 10px 0px var(--box-shadow);
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  padding: 24px;
}

.historyItem img {
  max-width: 6%;
}


.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 1.4em;
  font-weight: 600;
}

.historyItemDetails h2 {
  margin-top:0.3em;
  font-size: 1.1em;
  font-weight: 600;
}


.historyItemDetails p {
  margin-top:1.5em;
  font-size: 1.2em;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: .2em;
  list-style-position: inside;
  font-size: 1.3em;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
  }
}
